html {
  min-width: 960px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* -------------------------body------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-iteraction-list,
.sign-in-up-list,
.header-nav-list,
.partners-list,
.footer-nav-top ul,
.footer-nav-bottom ul,
.social-web-list,
.developers-contacts-list,
.user-link-list,
.breadcrumbs-list,
.manufacturers-checkbox-list,
.supply-radiobutton-list,
.content-list,
.user-interface-btn-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -------------------------header------------------------- */
.header {
  background-color: #f4f7f9;
}

/* -------------------------header-top-area------------------------- */
.header-site-logo div {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  padding-top: 13px;
  padding-left: 55px;
  position: absolute;
  top: 0px;
  left: 10px;
}

.header-top-area {
  background-color: #293449;
  color: #ffffff;
  line-height: 1.06;
  font-size: 17px;
}

.header-top-area a {
  color: #ffffff;
}
.user-iteraction-list a {
  display: block;
  width: 150px;
  height: 42px;
  padding-top: 11.5px;
}

.bookmark-text {
  text-align: left;
  padding-left: 44px;
}
.cart-text {
  text-align: left;
  padding-left: 50px;
}

.checkout-iteraction-link {
  text-align: center;
  background-color: #63a63e;
}

.search-button {
  position: absolute;
  width: 49px;
  height: 42px;
  top: 0px;
  left: 230px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.search-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.search-input {
  padding-top: 0px;
  height: 42px;
  width: 221px;
  border-width: 0;
  background-color: #293449;
}

.search-input::placeholder {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.search-button:hover .search-icon {
  fill: rgb(255, 255, 255);
}
.search-button:hover  {
  cursor: pointer;
  background-color: #212a3a;
}
.search-input:hover {
  background-color: #212a3a;
}

.search-input + .search-button:hover  {

  background-color: #212a3a;
}


.search-input:hover + .search-button {
  background-color: #212a3a;
}

.search-input:hover + .search-button .search-icon {
  fill: rgb(255, 255, 255);
}

.search-input:focus + .search-button {
  background-color: #ffffff;
}
.search-input:focus + .search-button .search-icon {
  fill: #ee3643;
}
.search-input:focus {
  background-color: #ffffff;
  font-size: 17px;
  line-height: 1.06;
  color: #000000;
}
.bookmark-link {
  position: relative;
}
.bookmark-icon {
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  fill: rgba(255, 255, 255, 0.3);
}
.bookmark-link:hover .bookmark-icon {
  fill: rgba(255, 255, 255, 1);
}
.bookmark-link:focus .bookmark-icon {
  fill: rgba(255, 255, 255, 0.5);
}
.bookmark-link:hover,
.cart-link:hover {
  background-color: #212a3a;
}
.cart-link {
  position: relative;
}
.cart-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  fill: rgba(255, 255, 255, 0.3);
}
.cart-link:hover .cart-icon {
  fill: rgba(255, 255, 255, 1);
}

.cart-link:focus .cart-icon {
  fill: rgba(255, 255, 255, 0.5);
}

.bookmark-link:active,
.cart-link:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-site-logo div:hover {
  background-color: #ca2c37;
}

.header-site-logo div:active {
  background-color: #ba2732;
}

.checkout-iteraction-link:hover {
  background-color: #5fbb2d;
}

.checkout-iteraction-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

/* -------------------------header-middle-area (+some catalog)------------------------- */
.header-middle-area h1,
.title-like-h1 {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.44;
  color: #ee3643;
}

.phone-number {
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
}

.header-phone span {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.sign-in-up-list a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.sign-in-up-list a:hover {
  color: #ee3643;
}

.sign-in-up-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* -------------------------header-nav------------------------- */
.header-nav {
  background-color: #32425c;
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-nav a {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}

.header-nav-list a:hover {
  background-color: #293449;
}

.header-nav-list a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* -------------------------{header-catalog (top, middle, nav}------------------------- */


/* .title-like-h1 {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.44;
  color: #ee3643;
} */

.signed-user a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.user-link-list a {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.user-link-list a:hover {
  color: #ee3643;
}

.user-link-list a:active,
.signed-user a:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-link-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 71px;
}


.user-link-item:not(:first-of-type) {
  margin-left: 32px;
  position: relative;
}
.user-link-item:not(:first-of-type)::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 7px;
}


/* -------------------------main (index)------------------------- */
.about-company h2,
.main-contacts h2 {
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.about-company-discription,
.main-contacts span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.partners-list {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

.about-company-button,
.find-us-btn {
  background-color: #ee3643;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.about-company-button:hover,
.find-us-btn:hover {
  background-color: #ca2c37;
}

.about-company-button:active,
.find-us-btn:active {
  background-color: #ba2732;
}

/* -------------------------catalog-main------------------------- */
.breadcrumbs-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
}

.catalog-main h1 {
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.title-like-h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  color: #000000;
}

.filter-form label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.show-filtered-result {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.content-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.content-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.previous-price {
  color: #999999;
  text-align: center;
  text-decoration: line-through;
}

.current-price {
  width: 141px;
  height: 38px;
  background-color: red;
  color: #ffffff;
  text-align: center;
}

.btn-buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-add-bookmarks {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #32425c;
}

.btn-add-bookmarks:hover {
  border: solid 3px #32425c;
}

.btn-add-bookmarks:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  color: rgba(50, 66, 92, 0.3);
}

/* -------------------------footer------------------------- */
.footer-nav-top a:hover,
.footer-nav-bottom a:hover,
.developers-contacts-list a:hover {
  text-decoration: underline;
}

/* -------------------------footer-top (footer-nav-top, footer-nav-bottom) ------------------------- */
.footer-top {
  background-color: #32425c;
}

/* .footer-site-logo div {
  height: 68px;
  width: 220px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
} */

.footer-nav-top a {
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
}

.footer-nav-bottom a {
  font-size: 18px;
  line-height: 1.33;
  color: #ffd180;
}

.footer-adress {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-nav-top a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-nav-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

/* -------------------------footer-bottom------------------------- */
.footer-bottom {
  background-color: #293449;
}

.copyright {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
  width: 230px;
}

.social-web-list a {
  color: #ffffff;
}

.developers-contacts-list {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.developers-contacts-list a {
  color: #ffd180;
}

.developers-contacts-list a:active {
  color: #ee3643;
  text-decoration: none;
}

/* -------------------------modal------------------------- */
.modal{
  display: none;
}

/* ------------------------- сеточные стили ------------------------- */
/* body > * {background: rgba(255, 0, 0, 0.2) !important}
body > * > * {background: rgba(255, 255, 0, 0.2) !important} */
/* body > * > * > * {background: rgba(0, 0, 255, 0.2) !important} */
/* body > * > * > * > * {background: rgba(0, 255, 255, 0.2) !important} */

/* -------------------------body------------------------- */
.wrapper {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* -------------------------header------------------------- */
.header {
  width: 100%;
  min-height: 325px;
}

/* -------------------------header-top-area------------------------- */
.header-top-area {
  width: 100%;
  margin-bottom: 46px;
}

.header-top-area-centering {
  position: relative;
}

.user-iteraction-list {
  margin-left: 269px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.user-iteraction-list li a{
  display: block;

}
/* -------------------------header-top-area (catalog)------------------------- */
a.added-content-item {
  background-color: #ee3643;
}
a.added-content-item:hover {
  background-color: #ca2c37;
}
a.added-content-item:active {
  background-color: #ba2732;
}

/* -------------------------header-middle-nav-wrapper------------------------- */
.header-middle-nav-wrapper {
  /* min-height: 278px; */
  margin-top: 46px;
}

/* -------------------------header-middle-area------------------------- */
.header-middle-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 44px;
}

.header-middle-area h1,
.title-like-h1 {
  margin: 0px 0px 0px 53px;
  white-space: pre-wrap;
  width: 197px;
}

.header-contacts {
  margin: 0px auto 0px 71px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.header-contacts span {
  display: block;
}
.header-phone {
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
  position: relative;
  margin-bottom: 4px;
}
.phone-number {
  display: block;
  padding-top: 9px;
  padding-left: 71px;
}
.phone-icon {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 9px;
  left: 15px;
  cursor: pointer;
}
.header-phone-address {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
}
.sign-in-up-list {
  display: flex;
}

.sign-in-up-list a{
  display: block;
  background-color: #ffffff;
  margin-left: 10px;
}

.sign-in-link {
  padding: 13px 27px 11px 48px;
  position: relative;
}

.login-icon {
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  fill: #c5c5c5;
}

.sign-in-link:hover .login-icon {
  fill: #36415a;
}
.sign-in-link:active .login-icon {
  fill: #c5c5c5;
}

.sign-up-link {
  padding: 13px 24px 11px 24px;
}
/* -------------------------header-middle-area (catalog)------------------------- */

.signed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}
.signed-user {

  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.signed-user-link {
  width: 257px;
  display: flex;
  flex-wrap: wrap;
  /* display: block; */
  position: relative;
  padding: 13px 24px 11px 46px;
}
.signed-user-link:hover .signed-user-icon {
  fill: #36415a;
}
.signed-user-link:active .signed-user-icon {
  fill: #c5c5c5;
}
.user-log-out:hover .user-log-out-icon {
  fill: #36415a;
}
.user-log-out:active .user-log-out-icon {
  fill: #c5c5c5;
}
.signed-user-icon {
  position: absolute;
  fill: #c5c5c5;
  top: 13px;
  left: 13px;
}
.user-log-out {
  display: block;
  width: 44px;
  position: relative;
}
.user-log-out-icon {
  position: absolute;
  fill: #c5c5c5;
  top: 14px;
  right: 10px;
}
/* -------------------------header-nav------------------------- */
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-nav-list a {
  display: block;
  padding: 22px 31px;
}

/* -------------------------main (index)------------------------- */
.company-contacts-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-company {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 120px;
}
.company-contacts-wrapper h2 {
  margin-bottom: 38px;
}
.main-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.contacts-text {
  display: block;
  width: 180px;
  margin-bottom: 36px;

}

.map-google-link {
  width: 300px;
  height: 158px;
  margin-bottom: 43px;
}
.about-company-discription{
  margin: 0px;
  padding: 0px;
}

.about-company-discription span{
  display: block;
  margin-bottom: 26px;
}

.discription-transport {
  width: 390px;
}
.partners-list li:last-of-type {
  padding-bottom: 0px;
  margin-bottom: 34px;
}

.partners-list li{
  padding-left: 36px;
  padding-bottom: 23px;
  position: relative;
}

.partners-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 8px;
  left: 0px;
}

.about-company-button,
.find-us-btn {
  display: inline-block;
  height: 38px;
  text-align: center;
  border-radius: 2px;
}
.about-company-button {
  padding: 11px 40px 12px 41px;
}
.find-us-btn{
  margin: 0px;
  padding: 0px;
  display: block;
  border-width: 0px;
  width: 100%;
}
/* -------------------------catalog-main------------------------- */
.catalog-main-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  /* min-width: 358px; */
  margin-top: 25px;
  margin-bottom: 25px;
}
.breadcrumbs-list li:not(:last-of-type) {
  margin-right: 41px;
  position: relative;
}

.breadcrumbs-list li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -25px;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 50px 0 0 0;
  background-color: white;
  box-shadow: 1px 1px 0 1px #c1c6ce;
  transform: rotate(-45deg) scale(0.7);
}

.catalog-main h1 {
  margin: 0px;
  height: 89px;
  padding-top: 32px;
  padding-left: 30px;
}

.filters-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters-item {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.content {
  display: flex;
  width: 700px;
  flex-direction: column;
  margin-top: 20px;
}

.content-list {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.content-item {
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.content-item:nth-child(3n) {
  margin-right: 0px;
}

.user-interface-btn-list {
  display: flex;
  flex-direction: column;
}

/* -------------------------footer------------------------- */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* -------------------------footer-top (footer-nav-top, footer-nav-bottom) ------------------------- */
.footer-top {
  display: flex;
}

.footer-top-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-top ul{
  width: 547px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-top {
  margin-top: 42px;
}

.footer-adress {
  width: 323px;
  margin-top: 32px;
  margin-bottom: 53px;
}

.footer-nav-bottom ul{
  width: 524px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-bottom {
  margin-top: auto;
  margin-bottom: 76px;
}

/* -------------------------footer-bottom------------------------- */
.footer-bottom {
  display: flex;
  min-height: 107px;
}

.footer-bottom-center {
  display: flex;
  flex-wrap: wrap;
}

.copyright {
  min-width: 230px;
  margin-top: 39px;
  margin-right: 160px;
}

.social-web-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 132px;
  margin-top: 35px;
}

.social-web-link {
  display: block;
  position: relative;
  margin-right: 3px;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}
.social-web-link:hover {
  background-color: #ee3643;
}
.social-web-link:active {
  background-color: #ee3643;
}
.social-web-list svg{
  position: absolute;
}
.social-web-list path {
  fill: #ffffff;
}
.vk-icon {
  top: 13px;
  left: 8px;
}
.fb-icon {
  top: 10px;
  left: 15px;
}
.insta-icon {
  top: 10px;
  left: 10px;
}

.developers-contacts-list {
  display: flex;
  margin-left: auto;
  margin-top: 40px;
  margin-right: 10px;
}

.developers-contacts-list li {
  margin-left: 53px;
}
