html {
  min-width: 960px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* -------------------------body------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-iteraction-list,
.sign-in-up-list,
.header-nav-list,
.partners-list,
.footer-nav-top ul,
.footer-nav-bottom ul,
.social-web-list,
.developers-contacts-list,
.user-link-list,
.breadcrumbs-list,
.manufacturers-checkbox-list,
.supply-radiobutton-list,
.content-list,
.user-interface-btn-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -------------------------header------------------------- */
.header {
  background-color: #f4f7f9;
}

/* -------------------------header-top-area------------------------- */
.header-site-logo div {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  padding-top: 13px;
  padding-left: 55px;
  position: absolute;
  top: 0px;
  left: 10px;
}

.header-top-area {
  background-color: #293449;
  color: #ffffff;
  line-height: 1.06;
  font-size: 17px;
}

.header-top-area a {
  color: #ffffff;
}
.user-iteraction-list a {
  display: block;
  width: 150px;
  height: 42px;
  padding-top: 11.5px;
}

.bookmark-text {
  text-align: left;
  padding-left: 44px;
}
.cart-text {
  text-align: left;
  padding-left: 50px;
}

.checkout-iteraction-link {
  text-align: center;
  background-color: #63a63e;
}

.search-button {
  position: absolute;
  width: 49px;
  height: 42px;
  top: 0px;
  left: 230px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.search-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.search-header-form input {
  padding-top: 0px;
  height: 42px;
  width: 221px;
  border-width: 0;
  background-color: #293449;
}

.search-header-form input::placeholder {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.search-button:hover .search-icon {
  fill: rgb(255, 255, 255);
}
.search-button:hover  {
  cursor: pointer;
  background-color: #212a3a;
}
.search-header-form input:hover {
  background-color: #212a3a;
}

.search-header-form input:hover + .search-button {
  background-color: #212a3a;
}

.search-header-form input:hover + .search-button .search-icon {
  fill: rgb(255, 255, 255);
}

.search-header-form input:focus + .search-button {
  background-color: #ffffff;
}
.search-header-form input:focus + .search-button .search-icon {
  fill: #ee3643;
}
.search-header-form input:focus {
  background-color: #ffffff;
  font-size: 17px;
  line-height: 1.06;
  color: #000000;
}




.bookmark-link {
  position: relative;
}
.bookmark-icon {
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  fill: rgba(255, 255, 255, 0.3);
}
.bookmark-link:hover .bookmark-icon{
  fill: rgba(255, 255, 255, 1);
}
.bookmark-link:hover,
.cart-link:hover {
  /* box-shadow: inset 0px -5px 0 0 #293449; */
  background-color: #32425c;
}

.bookmark-link:active,
.cart-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.6);
}

.header-site-logo div:hover {
  background-color: #ca2c37;
}

.header-site-logo div:active {
  background-color: #ba2732;
}

.checkout-iteraction-link:hover {
  background-color: #5fbb2d;
}

.checkout-iteraction-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

/* -------------------------header-middle-area------------------------- */
.header-middle-area h1{
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.44;
  color: #ee3643;
}

.phone-number {
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
}

.header-phone span {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.sign-in-up-list a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.sign-in-up-list a:hover {
  color: #ee3643;
}

.sign-in-up-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* -------------------------header-nav------------------------- */
.header-nav {
  background-color: #32425c;
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-nav a {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}

.header-nav-list a:hover {
  background-color: #293449;
}

.header-nav-list a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* -------------------------{header-catalog (top, middle, nav}------------------------- */
.added-content-item {
  background-color: #ee3643;
}

.title-like-h1 {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.44;
  color: #ee3643;
}

.signed-user a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.user-link-list a {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.user-link-list a:hover {
  color: #ee3643;
}

.user-link-list a:active,
.signed-user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.added-content-item .cart-link:hover {
  background-color: #ca2c37;
}

.added-content-item .cart-link:active {
  background-color: #ba2732;
}

/* -------------------------main (index)------------------------- */
.about-company h2,
.main-contacts h2 {
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.about-company-discription,
.main-contacts span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.partners-list {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

.about-company-button,
.find-us-btn {
  background-color: #ee3643;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.about-company-button:hover,
.find-us-btn:hover {
  background-color: #ca2c37;
}

.about-company-button:active,
.find-us-btn:active {
  background-color: #ba2732;
}

/* -------------------------catalog-main------------------------- */
.breadcrumbs-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
}

.catalog-main h1 {
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.title-like-h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  color: #000000;
}

.filter-form label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.show-filtered-result {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.content-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.content-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.previous-price {
  color: #999999;
  text-align: center;
  text-decoration: line-through;
}

.current-price {
  width: 141px;
  height: 38px;
  background-color: red;
  color: #ffffff;
  text-align: center;
}

.btn-buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-add-bookmarks {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #32425c;
}

.btn-add-bookmarks:hover {
  border: solid 3px #32425c;
}

.btn-add-bookmarks:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  color: rgba(50, 66, 92, 0.3);
}

/* -------------------------footer------------------------- */
.footer-nav-top a:hover,
.footer-nav-bottom a:hover,
.developers-contacts-list a:hover {
  text-decoration: underline;
}

/* -------------------------footer-top (footer-nav-top, footer-nav-bottom) ------------------------- */
.footer-top {
  background-color: #32425c;
}

/* .footer-site-logo div {
  height: 68px;
  width: 220px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
} */

.footer-nav-top a {
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
}

.footer-nav-bottom a {
  font-size: 18px;
  line-height: 1.33;
  color: #ffd180;
}

.footer-adress {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-nav-top a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-nav-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}

/* -------------------------footer-bottom------------------------- */
.footer-bottom {
  background-color: #293449;
}

.copyright {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.social-web-list a {
  color: #ffffff;
}

.developers-contacts-list {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.developers-contacts-list a {
  color: #ffd180;
}

.developers-contacts-list a:active {
  color: #ee3643;
  text-decoration: none;
}

/* -------------------------modal------------------------- */
.modal{
  display: none;
}

/* ------------------------- сеточные стили ------------------------- */
/* body > * {background: rgba(255, 0, 0, 0.2) !important}
body > * > * {background: rgba(255, 255, 0, 0.2) !important} */
/* body > * > * > * {background: rgba(0, 0, 255, 0.2) !important} */
/* body > * > * > * > * {background: rgba(0, 255, 255, 0.2) !important} */

/* -------------------------body------------------------- */
.wrapper {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* -------------------------header------------------------- */
.header {
  width: 100%;
  min-height: 320px;
}

/* -------------------------header-top-area------------------------- */
.header-top-area {
  width: 100%;
  margin-bottom: 46px;
}

.header-top-area-centering {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center; */
  position: relative;
}

.user-iteraction-list {
  margin-left: 269px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}
.user-iteraction-list li a{
  display: block;

}

/* -------------------------header-middle-nav-wrapper------------------------- */
.header-middle-nav-wrapper {
  height: 278px;
}

/* -------------------------header-middle-area------------------------- */
.header-middle-area {
  display: flex;
  margin-bottom: 44px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
}

.sign-in-up-list {
  display: flex;
}

/* -------------------------header-nav------------------------- */
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.header-nav-list a {
  display: block;
  padding: 22px 31px;
}

/* -------------------------main (index)------------------------- */
.company-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 120px;
}

.main-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.map-google-link {
  width: 300px;
  height: 158px;
}
/* -------------------------catalog-main------------------------- */
.catalog-main-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.breadcrumbs-list {
  display: flex;
  justify-content: space-between;
  width: 358px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.catalog-main h1 {
  margin: 0px;
  height: 89px;
  padding-top: 32px;
  padding-left: 30px;
}

.filters-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters-item {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.content {
  display: flex;
  width: 700px;
  flex-direction: column;
  margin-top: 20px;
}

.content-list {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.content-item {
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.content-item:nth-child(3n) {
  margin-right: 0px;
}

.user-interface-btn-list {
  display: flex;
  flex-direction: column;
}

/* -------------------------footer------------------------- */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* -------------------------footer-top (footer-nav-top, footer-nav-bottom) ------------------------- */
.footer-top {
  display: flex;
}

.footer-top-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-top ul{
  width: 547px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-top {
  margin-top: 42px;
}

.footer-adress {
  width: 323px;
  margin-top: 32px;
  margin-bottom: 53px;
}

.footer-nav-bottom ul{
  width: 524px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-bottom {
  margin-top: auto;
  margin-bottom: 76px;
}

/* -------------------------footer-bottom------------------------- */
.footer-bottom {
  display: flex;
  min-height: 107px;
}

.footer-bottom-center {
  display: flex;
}

.copyright {
  min-width: 230px;
  margin-top: 39px;
  margin-right: 161px;
}

.social-web-list {
  display: flex;
  margin-top: 35px;
}

.developers-contacts-list {
  display: flex;
  margin-left: auto;
  margin-top: 40px;
  margin-right: 10px;
}

.developers-contacts-list li {
  margin-left: 53px;
}
